.movie-container{
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
  .card{
    margin-right: 20px;
    margin-bottom: 30px;
    margin-bottom: 20px;
  //  background-color: var(--none);
    background-color: var(--boldMainColor);
    // border: 1px solid var(--complimentaryColor) ;
    text-align: center;
    img{
      width: 100%;
    }
    .card-body{
      .card-title{
        color: var(--complimentaryColor);
        font-size: 18px;
        line-height: 1.9;
        font-weight: bold;
        text-align: start;
      }
      .card-text{
        color: var(--complimentaryColor);
        font-size: 15px;
        line-height: 1.9;
        font-weight: bold;
        text-align: start;

      }
      .btn {
        background:var(--lightNeutralColor);
        padding: .375rem .75rem;
        border: 1px solid var(--lightNeutralColor);
        border-radius: .25rem;
        color: var(--darkNeutralColor);
        transition: color .15s ease-in-out, background-color .15s ease-in-out;
        margin-bottom: 10px;
        margin-left: 5px;

        &:hover{
          padding: .375rem .75rem;
          border: 1px solid var(--boldMainColor);
          border-radius: .25rem;
          color: var(--complimentaryColor);
          background-color: var(--boldMainColor);
          transition: color .15s ease-in-out, background-color .15s ease-in-out;
          margin-left: 5px;
        }
      }
    }
  }
}
