/* You can add global styles to this file, and also import other style files */
:root{
  // --boldMainColor:#C62368; // titulos //
  // --darkNeutralColor:#001220;  //fondos oscuros o textos con fondo claro
  // --complimentaryColor:#eee9e6; //se complementa con el main
  // --lightNeutralColor:#FA7268; // fondos y elementos de soporte
  // --none:var(--none);

  --boldMainColor:#336b6f;  // titulos //
  --darkNeutralColor:#1c4046;  //fondos oscuros o textos con fondo claro
  --complimentaryColor:#eae2cc; //se complementa con el main
  --lightNeutralColor:#f38435; // fondos y elementos de soporte
  --none:var(--none);
}


body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: normal;
  // background-size: cover;
  // background-position: center center;
  // background-image: url();
  background-color: var(--darkNeutralColor);
  height: 100%;
   margin: 0;
  font-family:Times, Times New Roman, Georgia, serif;
}
